{
  "listen": {
    "address": "0.0.0.0",
    "port": 6454
  },
  "mappings": [
    {
      "host": {
        "address": "192.168.137.11",
        "port": 6454
      },
      "//": "Mapping which universes will be relayed here and what how they are mapped",
      "universes": [
        {
          "input": [
            16,
            31
          ],
          "output": [
            0,
            15
          ]
        }
      ]
    }
  ]
}
