{
  "listen": {
    "address": "0.0.0.0",
    "port": 6454
  },
  "mappings": [
    {
      "host": {
        "address": "192.168.137.11",
        "port": 6454
      },
      "//": "Mapping which universes will be relayed here and what how they are mapped",
      "universes": {
        "//": "[first, last] inclusive
        "input": [16, 31],
        "//": "This is the universe which from first universe in destination, where data is sent",
        "output_start": 0
      }
    }
  ]
}
